.plusProduct {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.plus-img {
    width: 100%;
    min-height: 536.88px;
    border-radius: 10px;
    overflow: hidden;
    transition: .2s ease;
}

.plus-img img:hover  {
    border: 1px #0c0c0c solid;
}

.plus-img img {
    width: 100%;
    border-radius: 10px;
}

.plus-name {
    font-size: 1.50rem;
    font-weight: 700;
    color: #0c0c0c;
}

.plus-new-price {
    font-size: 1.30rem;
    font-weight: 400;
    color: #0c0c0c;
    letter-spacing: 0.7px;
}

.plus-old-price {
    font-size: 1.10rem;
    color: #858585;
    text-decoration: line-through;
    letter-spacing: 0.7px;
    margin-left: 5px;
}